# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

  region                      = "us-east-2"  # target AWS region
  account                     = "008675309"  # target AWS account
  aws_admin_usernames         = [
    "Bob.Marley"
    "Jane.Doe"
  ]
  bucket_prefix = "my-tfstate-backend"
  dynamodb_table_name = "my-tfstate-backend-lock"
  force_delete = false
  default_tags = {
    Environment = "dev"
    Project     = "du-dev"
    Owner       = "my-name"
  }
