adr-tools 3.0.0
awscli 2.12.2
checkov 2.3.234
golang 1.20.5
golangci-lint 1.53.3
pre-commit 3.3.3
terraform 1.5.1
terraform-docs 0.16.0
tflint 0.47.0
tfsec 1.28.1
# renovate: datasource=github-tags depName=defenseunicorns/zarf
zarf 0.27.1
