* @defenseunicorns/iac

# Docs & Examples
*.md @brianrexrode @ntwkninja @RothAndrew @jeff-mccoy
/examples/ @brianrexrode @ntwkninja @RothAndrew @UncleGedd

# Terraform Modules
/modules/ @brianrexrode @ntwkninja @RothAndrew @UncleGedd

# Privileged Files
/CODEOWNERS @brianrexrode @ntwkninja @RothAndrew @UncleGedd
/LICENSE @jeff-mccoy @runyontr 
/.github/ @jeff-mccoy @brianrexrode @ntwkninja @RothAndrew
/.gitignore @jeff-mccoy @brianrexrode @ntwkninja @RothAndrew
/renovate.json @jeff-mccoy @brianrexrode @ntwkninja @RothAndrew
/Makefile @jeff-mccoy @brianrexrode @ntwkninja @RothAndrew