* @defenseunicorns/iac

# Docs & Examples
*.md @defenseunicorns/iac

# Terraform Modules & Examples
/modules/ @defenseunicorns/iac
/examples/ @defenseunicorns/iac

# Privileged Files
/CODEOWNERS @defenseunicorns/iac-admin
/LICENSE @defenseunicorns/iac-admin
/.github/ @defenseunicorns/iac-admin
/.gitignore @defenseunicorns/iac-admin
/renovate.json @defenseunicorns/iac-admin
/renovate.json5 @defenseunicorns/iac-admin
/Makefile @defenseunicorns/iac-admin
