terraform {
  backend "s3" {
    region         = "us-east-2"
    bucket         = "my-tf-state-bucket_id"
    key            = "complete-example/terraform.tfstate"
    dynamodb_table = "my-tfstate-backend-lock"
    profile        = ""
    role_arn       = ""
    encrypt        = "true"
  }
}
