# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

###########################################################
################## Global Settings ########################

  region                      = "us-east-2"  # target AWS region
  region2                     = "us-east-1"  # RDS backup target AWS region
  account                     = "100008675309"  # target AWS account
  aws_profile                 = "du-dev"  # local AWS profile to be used for deployment
  aws_admin_1_username        = "Bob.Marley" # enables eks access & ssh access to bastion
  aws_admin_2_username        = "Jane.Doe" # enables eks access & ssh access to bastion
  cidr_blocks                 = ["0.0.0.0/0"] # control access to ingress and egress. IPv4
  ipv6_cidr_blocks            = ["::/0"] # control access to ingress and egress. IPv6

###########################################################
#################### VPC Config ###########################

  vpc_cidr                    = "10.200.0.0/16"
  vpc_name                    = "my-vpc"
  map_public_ip_on_launch     = true

  # vpc_instance_tenancy        = "dedicated" #does not currently work with EKS

###########################################################
################## Bastion Config #########################

  bastion_name                = "my-bastion"
  bastion_ami_id              = "ami-04afd6ecf73c0a579" # AWS linux 2 CIS STIG // "ami-000d4884381edb14c" # AWS linux 2
  bastion_ssh_user            = "ec2-user" # local user in bastion used to ssh
  bastion_ssh_password        = "my-password"
  bastion_tenancy             = "dedicated"
  zarf_version                = "v0.24.0-rc4"

###########################################################
#################### EKS Config ###########################

  cluster_name                = "my-eks"
  eks_k8s_version             = "1.24"
  eks_worker_tenancy          = "dedicated"

###########################################################
############## Big Bang Dependencies ######################

  keycloak_enabled      = true
  # other_addon_enabled = true


#################### Keycloak ###########################

  keycloak_db_password          = "my-password"
  kc_db_engine_version          = "14.1"
  kc_db_family                  = "postgres14" # DB parameter group
  kc_db_major_engine_version    = "14"         # DB option group
  kc_db_allocated_storage       = 20
  kc_db_max_allocated_storage   = 100
  kc_db_instance_class          = "db.t4g.large"
