# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

###########################################################
################## Global Settings ########################

region              = "us-east-2"                # target AWS region
region2             = "us-east-1"                # RDS backup target AWS region
account             = "100008675309"             # target AWS account
aws_profile         = "du-dev"                   # local AWS profile to be used for deployment
aws_admin_usernames = ["Bob.Marley", "Jane.Doe"] # list of users to be added to the AWS admin group
default_tags = {
  Environment = "dev"
  Project     = "du-dev"
  Owner       = "my-name"
}
manage_aws_auth_configmap = true
create_aws_auth_configmap = true

###########################################################
#################### VPC Config ###########################

vpc_cidr = "10.200.0.0/16"
vpc_name = "my-vpc"
# vpc_instance_tenancy                = "dedicated" #does not currently work with EKS

###########################################################
################## Bastion Config #########################

bastion_name = "my-bastion"
#  bastion_ami_id              = "ami-04afd6ecf73c0a579" # AWS linux 2 CIS STIG // "ami-000d4884381edb14c" #AWS linux 2 #optional
bastion_ssh_user     = "ec2-user" # local user in bastion used to ssh
bastion_ssh_password = "my-password"
bastion_tenancy      = "dedicated"
zarf_version         = "v0.24.0-rc4"

###########################################################
#################### EKS Config ###########################

cluster_name                   = "my-eks"
cluster_version                = "1.23"
eks_worker_tenancy             = "dedicated"
cluster_endpoint_public_access = true

###########################################################
############## Big Bang Dependencies ######################

keycloak_enabled = true
# other_addon_enabled = true


#################### Keycloak ###########################

keycloak_db_password        = "my-password"
kc_db_engine_version        = "14.1"
kc_db_family                = "postgres14" # DB parameter group
kc_db_major_engine_version  = "14"         # DB option group
kc_db_allocated_storage     = 20
kc_db_max_allocated_storage = 100
kc_db_instance_class        = "db.t4g.large"

#################### Other Addon ########################
amazon_eks_vpc_cni = {
  enable            = true
  before_compute    = true
  most_recent       = true
  resolve_conflicts = "OVERWRITE"
  configuration_values = {
    # Reference https://aws.github.io/aws-eks-best-practices/reliability/docs/networkmanagement/#cni-custom-networking
    AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG = "true"
    ENI_CONFIG_LABEL_DEF               = "topology.kubernetes.io/zone" # allows vpc-cni to use topology labels to determine which subnet to deploy an ENI in

    # Reference docs https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html
    ENABLE_PREFIX_DELEGATION = "true"
    WARM_PREFIX_TARGET       = "1"
  }
}
