# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

###########################################################
################## Global Settings ########################

  region                = TF_VAR_region  # target AWS region
  region2               = TF_VAR_region2  # RDS backup target AWS region
  account               = TF_VAR_aws_account  # target AWS account
  aws_profile           = TF_VAR_aws_profile  # local AWS profile to be used for deployment
  aws_admin_1_username  = TF_VAR_aws_admin_1_username # enables eks access
  aws_admin_2_username  = TF_VAR_aws_admin_2_username # enables eks access
  
###########################################################
#################### VPC Config ###########################

  vpc_cidr          = TF_VAR_vpc_cidr
  vpc_name          = TF_VAR_vpc_name
  database_subnets  = TF_VAR_db_subnets

###########################################################
#################### EKS Config ###########################

  cluster_name                = TF_VAR_eks_cluster_name
  eks_k8s_version             = TF_VAR_eks_cluster_version

###########################################################
################## Bastion Config #########################

  bastion_name                = TF_VAR_bastion_name
  bastion_ami_id              = TF_VAR_bastion_ami_id
  ssh_user                    = TF_VAR_bastion_ssh_user # local user in bastion used to ssh
  
###########################################################
############## Big Bang Dependencies ######################

  keycloak_enabled      = TF_VAR_keycloak_enabled
  # other_addon_enabled = <>


#################### Keycloak ###########################

  keycloak_db_password          = TF_VAR_keycloak_db_password
  kc_db_engine_version          = TF_VAR_kc_db_engine_version
  kc_db_family                  = TF_VAR_kc_db_family # DB parameter group
  kc_db_major_engine_version    = TF_VAR_kc_db_major_engine_version         # DB option group
  kc_db_allocated_storage       = TF_VAR_kc_db_allocated_storage
  kc_db_max_allocated_storage   = TF_VAR_kc_db_max_allocated_storage
  kc_db_instance_class          = TF_VAR_kc_db_instance_class