# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

###########################################################
################## Global Settings ########################

  region                = TF_VAR_REGION  # target AWS region
  region2               = TF_VAR_REGION2  # RDS backup target AWS region
  account               = TF_VAR_AWS_ACCOUNT  # target AWS account
  aws_profile           = TF_VAR_AWS_PROFILE  # local AWS profile to be used for deployment
  aws_admin_1_username  = TF_VAR_AWS_ADMIN_1_USERNAME # enables eks access
  aws_admin_2_username  = TF_VAR_AWS_ADMIN_2_USERNAME # enables eks access
  
###########################################################
#################### VPC Config ###########################

  vpc_cidr          = TF_VAR_VPC_CIDR
  vpc_name          = TF_VAR_VPC_NAME
  database_subnets  = TF_VAR_DB_SUBNETS

###########################################################
#################### EKS Config ###########################

  cluster_name                = TF_VAR_EKS_CLUSTER_NAME
  eks_k8s_version             = TF_VAR_EKS_CLUSTER_VERSION

###########################################################
################## Bastion Config #########################

  bastion_name                = TF_VAR_BASTION_NAME
  bastion_ami_id              = TF_VAR_BASTION_AMI_ID
  ssh_user                    = TF_VAR_BASTION_SSH_USER # local user in bastion used to ssh
  
###########################################################
############## Big Bang Dependencies ######################

  keycloak_enabled      = TF_VAR_KEYCLOAK_ENABLED
  # other_addon_enabled = <>


#################### Keycloak ###########################

  keycloak_db_password          = TF_VAR_KEYCLOAK_DB_PASSWORD
  kc_db_engine_version          = TF_VAR_KC_DB_ENGINE_VERSION
  kc_db_family                  = TF_VAR_KC_DB_FAMILY # DB parameter group
  kc_db_major_engine_version    = TF_VAR_KC_DB_MAJOR_ENGINE_VERSION         # DB option group
  kc_db_allocated_storage       = TF_VAR_KC_DB_ALLOCATED_STORAGE
  kc_db_max_allocated_storage   = TF_VAR_KC_DB_MAX_ALLOCATED_STORAGE
  kc_db_instance_class          = TF_VAR_KC_DB_INSTANCE_CLASS